.for-input {
  height: 40px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #85d4c8;
  background-size: cover;
}

.for-list {
  list-style-type: none;
  width: 400px;
  border-radius: 4px;
  background-color: white;
  margin-top: 20px;
}

.for-btn {
  display: flex;

}

.for-li {
  color: blue;
  font-family: "roboto";
  font-size: 20px;
}

.heading {
  color: blue;
  font-family: "Roboto";
  font-weight: 500;
  padding: 20px;
}